

body {
	background: #CCCCCC
}

p {

body {
	background: #CCCCCC
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}


#banner {
	width: 100%;
}

em strong {
	color: #FF0000
	text-align: center;
}

#missao {
	font-size: 20px
}


#banner {
	width: 100%;
}

em strong {
	color: #FF0000
